
<center>
 <div style="margin-top: 200px; color: blue; font-size: 40px;"> 
<h1>You Choose level : <%= session['select'] %></h1>
 </div>
</center>


<center>
<%= session['secret_number'] %>
</center>

<% if session['selected_number'] != nil || session['selected_number'] == '' %>
<% if session['selected_number'].to_i > session['secret_number'] %>

<center> 
<p>number is too high</p>
</center>

<% elsif session['selected_number'].to_i < session['secret_number'] %>


<center>
<p>number is too low
</center>

<% end %>
<% end %>

<center>
  <form action="/pick" method="post">
    <input type="number" name="number">
    <input type="submit" name="submit"> 
  </form>
</center>


<!--     <select name="pick" >
    <div style="font-size: 20px; font-weight: bold;font-family: monospace;">
        <input type="number" name="number">
    <input type="submit" name="Submit"> 
    </div></select> -->