<center>
<h1 style="color: blue; margin-top: 200px; font-size: 40px;"> Guess a number between 1 to 100</h1></center>

<center>
<p>Let's Play this game</p></center>

<center>
<p><a href="/level">Click here to Start</p>
</center>