
<center>
<div style="margin-top: 200px; color: blue; font-size: 40px;">	
<h1>Select Level</h1></center></div>


<center>
<form action="/level" method="post">
<select name="level" id="">	
	<option value="easy">Easy</option>
	<option value="medium">Medium</option>
	<option value="difficult">Difficult</option>
<input type="Submit" name="select"></select></form></center>